# Binaries
bin/

# Env
.env

# Air configs (keep main ones)
.air.*.toml
!.air.toml
!.air.auth.toml

# Test coverage
coverage.out
*.out

# build files
bin/
scripts/graphql-from-proto/graphql-from-proto

# Keploy artifacts (user dapat decide whether to commit these)
keploy/